<div class="card">
    <div class="card__title">
        <img class="card__title--icon" src="{{ countryFlag }}" alt="">
        <h1>{{ countryData?.country }}</h1>
    </div>
    <div class="card__body">
        <div class="card__body--text">
            <label for="cases">Casos ativos:</label>
            <span id="cases">{{ countryData?.cases }}</span>
        </div>
        <div class="card__body--text">
            <label for="confirmed">Confirmados:</label>
            <span id="confirmed">{{ countryData?.confirmed }}</span>
        </div>
        <div class="card__body--text">
            <label for="recovered">Recuperados:</label>
            <span id="recovered">{{ countryData?.recovered }}</span>
        </div>
        <div class="card__body--text">
            <label for="deaths">Mortes:</label>
            <span id="deaths">{{ countryData?.deaths }}</span>
        </div>
        <div class="card__body--text">
            <label for="updated">Última atualização:</label>
            <span id="updated">{{ countryData?.updated_at | date: 'dd/MM/yyyy HH:mm' }}</span>
        </div>
    </div>
</div>
