<div class="header">
    <div style="display: flex;align-items: center;">
        <img class="header__image" src="assets/corona.png" alt="">
        <h1 class="header__title">COVID-19</h1>
    </div>
    <div>
        <h2 class="header__subtitle">Notificações de casos da COVID-19</h2>
    </div>
    <div class="header__nav">
        <a class="header__nav--links" routerLink="">Início</a>
        <span>|</span>
        <a class="header__nav--links" routerLink="outros-paises">Outros Países</a>
    </div>
</div>