.home {
    display: flex;
    justify-content: space-around;

    &__column {
        width: 40vw;
    }
}

.card-states {
    width: 40vw;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    border-radius: 5px;

    table {
        width: 100%;
    }

    &__flag {
        display: flex;
        height: 15px;
        margin-right: 10px;
    }

    &__spinner {
        display: flex;
        justify-content: center;
        padding: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .home {
        flex-direction: column;
        align-items: center;

        &__column {
            width: 90vw;
        }
    }

    .card-states {
        width: 90vw;
    }
}