<div class="home">
    <div class="home__column">
        <div class="home__column--row">
            <app-card
                countryFlag="assets/brazil-flag.png" 
                [countryData]="brazil"
            ></app-card>
        </div>
        <div class="home__column--row">
            Estados
        </div>
    </div>

    <div class="home__column">
        <div class="home__column--row">
            <app-card
            countryFlag="assets/china-flag.png"
            [countryData]="china"
            ></app-card>
            <app-card
            countryFlag="assets/italy-flag.png"
            [countryData]="italy"
            ></app-card>
            <app-card
                countryFlag="assets/us-flag2.png"
                [countryData]="unitedStates"
            ></app-card>
        </div>
    </div>
</div>